@font-face {
  font-family: 'PoiretOne';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url("https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2") format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url("https://fonts.gstatic.com/s/oswald/v11/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2") format('woff2');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url("https://fonts.gstatic.com/s/lobster/v18/G6-OYdAAwU5fSlE7MlBvhQLUuEpTyoUstqEm5AMlJo4.woff2") format('woff2');
}
a {
  color: #7e644b;
  text-decoration: none;
}
a:hover {
  color: #3e4a40;
}
ul {
  padding: 0;
  list-style: none;
}
.icon {
  color: #3e4a40;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-size: 16px;
  background-color: #c4c9a8;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.header {
  background: #3e4a40;
  font-family: 'Lobster';
  color: #a57f68;
  font-size: 3em;
  padding: 0 0.3em 0.2em 0.3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0.2em 0 0 0;
}
.navigation a {
  padding: 0.5em;
  text-align: center;
  display: block;
  font-size: 0.5em;
  color: #8b8f76;
}
.navigation a:hover {
  color: #a57f68;
}
.aside-right {
  background: #8b8f76;
}
.footer {
  background: #a57f68;
  color: #3e4a40;
  font-family: 'Lobster';
  text-align: center;
}
@media all and (min-width: 600px) {
  .aside-right {
    flex: 1 auto;
  }
}
@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .main {
    order: 1;
  }
  .aside-right {
    order: 2;
  }
  .footer {
    order: 3;
  }
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .header {
    justify-content: space-between;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .header {
    flex-flow: column wrap;
    padding: 0;
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}
.flex-item-postlist {
  width: 430px;
  margin: auto;
}
.flex-item {
  margin: auto;
}
.blog-post-item,
.users-list {
  margin: 0em 0em 0.5em 0em;
  border-bottom: 3px dashed #a57f68;
  background-color: #979a85;
}
.blog-post-link,
.user-link {
  font-family: 'Oswald';
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.simple-pagination {
  font-family: 'Oswald';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
}
.simple-pagination p {
  margin: 0 0.5em 0 0;
}
.simple-pagination__items {
  color: #7e644b;
}
.simple-pagination__pages {
  color: #3e4a40;
}
.simple-pagination__page-limit a {
  color: #3e4a40;
}
.simple-pagination__page-limit a:hover {
  color: #7e644b;
}
.simple-pagination__button,
.blog-post-header {
  font-family: 'Oswald';
  color: #7e644b;
}
.blog-post-body,
.blog-post-user,
.blog-post-comments {
  font-family: 'PoiretOne';
  color: #3e4a40;
}
.comments-list {
  list-style-type: none;
}
.subtitle {
  background: #8b8f76;
  font-family: 'PoiretOne';
  color: #3e4a40;
  padding: 0.2em;
  width: 99%;
  display: block;
}
