<ul class="flex-container blog-post-list">
 	<li class="flex-item-postlist blog-post-item" ng-repeat="post in (postlist.posts | limitTo:postlist.settings.pageLimit:postlist.settings.offset)">
		<a ng-href="/post/{{ post.id }}" class="blog-post-img">
			<img src='https://placekitten.com/430/300' />
		</a>
		<div class="blog-post-link">
			<i class="fa fa-file-text-o icon" aria-hidden="true"></i>
			<a ng-href="/post/{{ post.id }}">{{ post.title }}</a>
		</div>
 	</li>
</ul>
<simple-pagination
  current-page="postlist.settings.currentPage"
  offset="postlist.settings.offset"
  page-limit="postlist.settings.pageLimit"
  page-limits="postlist.settings.pageLimits"
  total="postlist.length">
</simple-pagination>
