<article class="blog-post">
  <header class="blog-post-header">
    <h1>{{ postdetail.titlepost }}</h1>
  </header>
  <p class="blog-post-body">
    <img id="imgpreview" src="http://placekitten.com/995/300" />
    {{ postdetail.bodypost }}
  </p>
  <post-detail-user data="postdetail.userpost[0]">
  </post-detail-user>
</article>
<article class="blog-post-comments">
  <header class="comments-header">
      <span class="subtitle"><i class="fa fa-comments"></i> <b>Comentarios</b></span>
  </header>
  <ul class="comments-list">
      <post-detail-comments ng-repeat="comment in postdetail.comments" data="comment">
      </post-detail-comments>
  </ul>
</article>